# Feel free to use this file to list the strict minimum requirements to copy inside your docker container in production
# You may want to remove dev requirements such as pytest, ipykernel, matplotlib etc...
colorama
pygeohash
numpy==1.23.5
pandas==1.5.3
scikit-learn==1.3.1
google-cloud-bigquery
google-cloud-storage
# Trick to install the version of Tensorflow depending on your processor: darwin == Mac, ARM == M1
tensorflow==2.10.0

# prevent bq 3+ db-dtypes package error when running training from bq
mlflow==2.1.1

# API
fastapi==0.108.0
uvicorn
